<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albergue Segundas Oportunidades</title>
    <link rel="stylesheet" href="/styles/AcercaDelAlbergue.css">  
</head>
<body>

<header>
    <h1>Acerca del Albergue</h1>
</header>

<main class="container">
    <section class="card">
        <p>El albergue Segundas Oportunidades tiene como objetivo darle una mejor vida a los perritos que han sido encontrados en situación de calle.</p>
        <img src="/imagenes/perrito.jpg" alt="perro callejero" style="width: 200px; display: block; margin: 0 auto;">
        <p>La finalidad es que las personas adopten un perrito y no lo compren, ya que es un mejor acto para ellos.</p>
    </section>

    <section class="card">
        <p>Tenemos alrededor de 500 perritos en resguardo para buscarles un hogar y una familia que los quiera y los cuide mucho.</p>
        <p>Buscamos prevenir ataques de perros callejeros, quienes actúan por miedo o hambre.</p>
        <p>El albergue consume 250 kilos de croquetas diarios. Tu apoyo, por pequeño que sea, sería de gran ayuda.</p>
        <img src="/imagenes/perrito1.jpg" alt="perro callejero" style="width: 200px; display: block; margin: 0 auto;">
    </section>
</main>

<div class="menu-button">
    <a href="/Menu" class="button">Volver al Menú</a>
</div>

</body>
</html>
