<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
<link rel="stylesheet" href="/styles/InfoDonaciones.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Adopciones con Amor</h1>
      <p class="subtitle">Brinda una segunda oportunidad a nuestros amigos peludos</p>
    </header>

    <section class="info-boxes">
      <article class="box">
        <p>
          En nuestro albergue, cuidamos con amor a perritos que necesitan un hogar. Cada uno ha sido rescatado, vacunado y cuidado con esmero. Descubre su historia y sé parte de su vida con un acto de amor.
        </p>
      </article>
      <article class="box">
        <p>
          No necesitas adoptar para ayudar. Comparte este albergue con tus amigos y familiares para que más personas conozcan nuestras historias y den una oportunidad a quienes más lo necesitan.
        </p>
      </article>
    </section>



    <section class="button-section">
      <a href="/menu" class="menu-button back-button">Volver al Menú</a>
<a href="/formulariodonaciones" class="menu-button donate-button">Donar ❤️</a>
    </section>
  </div>
</body>
</html>
