<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title || 'Donaciones' %></title>
    <link rel="stylesheet" href="/styles/InfoDonaciones.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Donaciones</h1>
        </header>

        <div class="info-box">
            <p>
                Tu donación ayuda mucho a nuestro albergue, pues ayudas a que los perritos tengan una mejor vida dentro del albergue.
                Entendemos si en tus posibilidades no está adoptar un perro, sabemos que es mucho gasto para algunas personas, 
                pero si estás aquí es porque quieres ayudar a nuestra causa, aunque sea con algo pequeño.
                Ya sea que aportes con algo de dinero o incluso con comida, ropa, juguetes, camas, agua u otras cosas básicas para nuestros animalitos.
                <br><br>
                Te agradecemos mucho el apoyo que haces para este centro de ayuda, cada granito de arena ayuda, ¡y el tuyo cambiará la vida de los perritos!
            </p>
        </div>

        <div class="button-section">
<a href="/donaciones/formulario" class="btn btn-primary">Dona</a>
            <a href="/menu" class="menu-button">Volver al Menú</a>
        </div>
    </div>
</body>
</html>
