body {
    font-family: 'Arial', sans-serif;
    background-color: #D1C4E9; /* lavanda intensa */
    margin: 0;
    padding: 0;
}

header {
    background-color: #512DA8; /* morado profundo más intenso */
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.card {
    background-color: #B39DDB; /* lila más fuerte */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
    border: 1px solid #9575CD; /* morado más intenso */
}

.card img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}

.menu-button {
    text-align: center;
    margin: 30px 0;
}

.button {
    background-color: #EC407A; /* rosa fuerte */
    color: #FFFFFF;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
    border: none;
}

.button:hover {
    background-color: #D81B60; /* rosa más oscuro */
}
