body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f8f9fa, #e0c3fc);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;

}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    
}