body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e7f52d, #fdfa39);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #e7f52d;
}

.header h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #333;
}

.header p {
    color: #555;
    font-size: 1.1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
    gap: 1rem;
    padding: 1rem;
}

.grid-item {
    background-color: #fd2a2a;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s;
}

.grid-item:hover {
    transform: scale(1.02);
    background-color: #d34d4d;
}

.grid-item h2 {
    color: #faf9f9;
    margin-bottom: 0.5rem;
}

.grid-item p {
    color: #faf9f9;
    font-size: 1rem;
}
