body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #8ac6d1, #a390ee, #8ed1a5); /* azul, lila, verde */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #a390ee; /* lila medio */
}

.header h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #f0f0f0;
}

.header p {
    color: #e0e0e0;
    font-size: 1.1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
    gap: 1rem;
    padding: 1rem;
}

.grid-item {
    background-color: #5cbf90; /* verde medio */
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s;
}

.grid-item:hover {
    transform: scale(1.02);
    background-color: #4ea87e; /* verde más oscuro */
}

.grid-item h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.grid-item p {
    color: #f8f8f8;
    font-size: 1rem;
}